<style>
  {{!-- Code to make footer always at end(buttom) --}}
  html {
    /*height: 100%;*/
  }

  body {
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
    height: 100vh;
  }
  footer {
    with: 100%;
    height: 5rem;
    background-color: black;
    color: white;
    margin-top: auto;
}
</style>

<footer class="footer">
  <p>created with love by Sherry</p>
</footer>